_TOP_PART_

_CAR_DETAILS_

<br />
<p>
  Thank you for your order! This transaction will appear on your billing statement as _YOUR_COMPANY_NAME_.
  If you have any questions, please feel free to contact us at <a href='mailto:_ADMIN_EMAIL_'>_ADMIN_EMAIL_</a>.
</p>		

<hr>
<center>
<small>This communication is for the exclusive use of the addressee and may contain proprietary, confidential or privileged information. If you are not the intended recipient any use, copying, disclosure, dissemination or distribution is strictly prohibited.
<br /><br />&copy; _YOUR_COMPANY_NAME_. All Rights Reserved.</small>
</center>