.clearfix {
	float: none;
	clear: both;
}

.itemlabel3{background:#f2f2f2; width:100%; height:210px;  font-family:"Open Sans"; font-size:13px; line-height:15px; overflow:hidden;}
.itemlabel2{background:#f2f2f2; width:80%; height:210px;  font-family:"Open Sans"; font-size:13px; line-height:15px; overflow:hidden;}
.labelright{float:right; height:100%; padding:10px; border-left:1px solid #e8e8e8;}
.labelleft{padding:10px 0 15px 15px;}
.labelleft2{padding:10px 0 15px 15px;font-family:"Open Sans"; font-size:13px; line-height:18px;}

.listitem2{background:#efefef; height:210px; overflow:hidden; position:relative;}
.listitem2 img{ height:100%; -webkit-transition:.3s;-moz-transition:.3s;transition:.3s}
.listitem2:hover img{height:120%; margin-left:-10%; margin-top:-10%; -webkit-transition:.3s;-moz-transition:.3s;transition:.3s;}

/*PREFERENCE LIST*/
ul.hotelpreferences { display:none; }

.hp_new { position:absolute;top:170px; }
.hn_new { font-size:18px;display:block;height:10px; }

.offset-2 {
    float:left;  
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-4 {
    float:left;  
    width: 23.32%;
}
.col-md-8 { float:left;  width: 76.67%; }

/* Slider */
.jslider .jslider-label {font-size: 10px;top: -14px;}
.jslider .jslider-value {font-size: 10px;top: -15px;}
