/* --- LEFT COLUMN ---------------------- */
#navColumnLeftWrapper  { margin:0px 7px 0px 2px; color:#4b4b4b; width:220px; }
#navColumnLeftWrapper H3.side_box_heading { background-position:right top; background-image:url(../images/heading-bg-rtl.gif); background-repeat:no-repeat; background-color:#e9e9e9; text-align:right; }

/* --- NAV COLUMN ---------------------- */
#navColumnIcon  { vertical-align:top; background-color:#eceded; padding-top:14px; }
#imgCollapse	{ position:absolute; margin-right:-21px; border:0px; cursor:pointer; }
#imgExpand 		{ display:none; margin-right:5px; margin-left:0px; border:0px; cursor:pointer; }

.site_version   { float:left; width:120px; text-align:left; }