/** CSS DOCUMENT **/

body  					{ font:12px arial, verdana, sans-serif; color:#777777; background-color:#eceded; margin:0px; margin-bottom:15px; width:100%; margin-left:auto; margin-right:auto; text-align:center; }

A:link 					{ font-weight:normal; color:#0092c2; text-decoration:none; }
A:visited 				{ font-weight:normal; color:#0092c2; text-decoration:none; }
A:hover 				{ color:#c41200; }

FORM 					{ display:inline; FONT-SIZE:1em; MARGIN:0; padding:0px; }
FIELDSET          		{ border:1px solid #bababa; }
LEGEND          		{ font-weight:bold; }

H1 						{ font-size:1.4em; margin:0.3em 0.3em 0.3em 0px; color:#222222; }
H1.center_box_heading 	{ background-position:0px 0px; background-image:url(../images/heading-bg2.gif); padding:6px 15px 6px 15px; margin:1px; font:bold 15px arial, sans-serif; color:#464646; margin-bottom:9px; background-repeat:repeat-x; background-color:#f3f3f3; }
H2 						{ font-size:1.3em; margin:0.3em 0.3em 0.3em 0px; color:#222222; }
H2.center_box_heading 	{ background-position:0px 0px; background-image:url(../images/heading-bg2.gif); padding:6px 15px 6px 15px; margin:1px; font:bold 15px arial, sans-serif; color:#464646; margin-bottom:9px; background-repeat:repeat-x; background-color:#f3f3f3; }
H2.center_box_heading A.cbc	{ font-weight:bold; }
H2.center_box_heading TABLE	{ width:100%; margin:0px auto; font:bold 15px arial, sans-serif; color:#464646; }
H3 						{ font-size:1.2em; margin:0.3em 0.3em 0.3em 0px; color:#222222; }
H3.center_box_sub_heading  { width:99%; margin-bottom:10px; background-position:0px 0px; background-image:url(../images/heading-bg3.gif); font:bold 12px arial, sans-serif; color:#464646; background-repeat:repeat-x; background-color:#f1f2f3; text-align:left; line-height:26px; border:1px solid #dedede;}
H3.center_box_sub_heading SPAN { margin-left:15px; }
H4 						{ font-size:1.1em; margin:0.3em 0.3em 0.3em 0px; color:#222222; }
H5 						{ font-size:1.1em; margin:0.3em 0.3em 0.3em 0px; color:#222222; }
H6 						{ font-size:1.1em; margin:0.3em 0.3em 0.3em 0px; color:#222222; }

SPAN.yes   				{ color:green; }
SPAN.no    				{ color:darkred; }
SPAN.gray    			{ color:gray; }
SPAN.lightgray    		{ color:lightgray; }
SPAN.red        		{ font-weight:normal; color:#c30000; }
SPAN.green      		{ font-weight:normal; color:#308330; }
SPAN.darkred    		{ color:darkred; }
SPAN.required    		{ color:#c13a3a; }

/* --- FORM ELEMENTS & :HOVER, :FOCUS ---------------------- */
input[type=text]::-webkit-input-placeholder  { color:#ababab; }
input[type=text]:-moz-placeholder { color:#ababab; }
input[type=text]:-ms-input-placeholder { color:#ababab;}

INPUT[type=checkbox],
INPUT.form_checkbox,
INPUT.form_radio		{ border:0px; width:20px; margin-left:0px; margin-right:0px; }

INPUT 					{ border:1px solid #d7d7d7; padding-left:4px; }
INPUT.readonly          { background-color:#e9e9e9; color:#aaa; }
INPUT.readonly:hover    { background-color:#e9e9e9; color:#aaa; }
INPUT.readonly:active   { background-color:#e9e9e9; color:#aaa; }

INPUT:hover             { border:1px solid #98bcdf; }
INPUT:focus             { border:1px solid #c7c7e7; background-color:#FFFFe7; }

INPUT.form_text			{ border:1px solid #d7d7d7; }
INPUT.form_text:hover   { border:1px solid #98bcdf; }
INPUT.form_text:focus   { border:1px solid #c7c7e7; background-color:#FFFFe7; }

INPUT.button,
INPUT.form_button,
INPUT.form_button_middle,
INPUT.form_button_long  { font-size:12px; font-weight:bold; color:#444444; padding:2px 5px 2px 5px; background-color:#e1e2e3;	border-style:solid; border-color:#9b9b9b; border-top-color:#cdcecf; border-left-color:#cdcecf; border-width:1px; cursor:pointer; background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d7d7d7)); background: -moz-linear-gradient(top, #f7f7f7, #d7d7d7); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#d7d7d7"); }
INPUT.button:hover,
INPUT.form_button:hover,
INPUT.form_button_middle:hover,
INPUT.form_button_long:hover { background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d2d2d2)); background: -moz-linear-gradient(top, #efefef, #d2d2d2); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef", endColorstr="#d2d2d2"); }

P 						{ PADDING-RIGHT:0.5em; PADDING-LEFT:0px; PADDING-BOTTOM:0.5em; PADDING-TOP:0.5em; font-size:12px; color:#222222; }

SELECT                	{ border:1px solid #d7d7d7; }
SELECT:hover          	{ border:1px solid #98bcdf; }
SELECT:focus          	{ border:1px solid #c7c7e7; background-color:#FFFFf9; }

TABLE 					{ font-size:12px; color:#222222; }

TEXTAREA                { VERTICAL-ALIGN:middle; COLOR:#222222; border:1px solid #d7d7d7; padding-left:4px; resize:none; }
TEXTAREA:hover          { border:1px solid #98bcdf; }
TEXTAREA:focus          { border:1px solid #c7c7e7; background-color:#FFFFe7; }

#logoTop 				{ padding-right:0px; padding-left:0px; padding-bottom:0px; margin:0px; padding-top:0px; position:relative; height:75px; background-color:#343434}
#logoTop IMG 			{ border-top-width:0px; margin-top:12px; border-left-width:0px; border-bottom-width:0px; border-right-width:0px}

#mainWrapper 			{ vertical-align:top; background-color:#fff; text-align:left; padding:0; margin:0; }
#headerWrapper 			{ background-color:#f4f4f4; }
#headerWrapper IMG 		{ border:0px; }
#contentMainWrapper 	{ margin:0px; padding:0px; }

/* --- SITE TOP ---------------------- */
#siteTop 				{ padding-right:0px; padding-left:40px; right:12px; padding-bottom:0px; color:#fff; padding-top:0px; position:absolute; top:48px; text-align:right; }
#siteTop A:link 		{ color:#00aee7; text-decoration:none }
#siteTop A:visited 		{ color:#00aee7; text-decoration:none }
#siteTop A:hover       	{ color:#acacac; }

#siteLogo 				{ padding:0px 6px 0px 2px; margin:0 12px; color:#fff; position:relative; top:6px; text-align:left; font-size:32px; font-weight:bold; }
#siteLogo A:link 		{ color:#00aee7; text-decoration:none}
#siteLogo A:visited 	{ color:#00aee7; text-decoration:none}
#siteLogo A:hover 		{ color:#009ed7 }

#siteSlogan 			{ padding:0px 6px 0px 4px; margin:0 11px; color:#fff; text-align:left; position:absolute; top:48px; font-size:15px; font-weight:bold; }
#siteLinks 			    { padding:8px 20px 20px 20px; color:#fff; text-align:right; font-size:13px; font-weight:bold; }

#siteInfo,
#siteInfo FORM 			{ font-size:12px; padding-bottom:8px; color:#959595; text-align:center; }

#siteMessage  			{ position:absolute; width:400px; margin-top:25px; } 

/* --- LEFT COLUMN ---------------------- */
#navColumnLeft 			{ background-color:#eceded; vertical-align:top; padding-top:1px; padding-left:2px; width:220px; }
#navColumnLeftWrapper 	{ margin:auto; margin-left:7px; margin-right:5px; color:#4b4b4b; width:220px; }
#navColumnLeftWrapper H3.side_box_heading           { padding:6px 23px 6px 23px; margin:1px; font:bold 13px arial, sans-serif; color:#464646; background-position:left top; background-image:url(../images/heading-bg.gif); background-repeat:no-repeat; background-color:#e9e9e9; cursor:pointer; }
#navColumnLeftWrapper H3.side_box_heading A:link	{ padding-left:2px; font-size:12px; color:#167a95; line-height:15px; }
#navColumnLeftWrapper H3.side_box_heading A:visited	{ padding-left:2px; font-size:12px; color:#167a95; line-height:15px; }
#navColumnLeftWrapper H3.side_box_heading A:hover	{ color:#c41200; }

/* --- NAV COLUMN ---------------------- */
#navColumnIcon          { vertical-align:top; background-color:#eceded; padding-top:14px;}
#imgCollapse		    { position:absolute; margin-left:-21px; border:0px; cursor:pointer; }
#imgExpand 				{ display:none; margin-left:3px; margin-right:0px; border:0px; cursor:pointer; }
.collapsed              { width:0px; }

/* --- MAIN COLUMN ---------------------- */
#navColumnMain 			{ width:100%; vertical-align:top; background-color:#eceded;  }
#navColumnMainWrapper   { margin:auto}
#navColumnMainWrapper   { margin-top:0px; margin-left:7px; color:#4b4b4b; margin-right:9px}
#navColumnMainWrapper H3.right_box_heading A:link    { padding-left:2px; font-weight:bold; font-size:12px; color:#167a95}
#navColumnMainWrapper H3.right_box_heading A:visited { padding-left:2px; font-weight:bold; font-size:12px; color:#167a95}
#navColumnMainWrapper H3.right_box_heading A:hover 	 { color:#c41200}

#navPagesTop 			{ padding-left:0px; padding-bottom:0px; color:#515151; padding-top:0px; text-align:left}
#navPagesTop A:link 	{ padding-right:25px; background-position:right center; display:block; padding-left:25px; font-size:12px; background-image:url(../images/menu_a_bg.gif); padding-bottom:11px; color:#000000; line-height:16px; padding-top:12px; background-repeat:no-repeat; font-family:helvetica, arial, sans-serif; white-space:nowrap; text-decoration:none}
#navPagesTop A:visited 	{ padding-right:25px; background-position:right center; display:block; padding-left:25px; font-size:12px; background-image:url(../images/menu_a_bg.gif); padding-bottom:11px; color:#000000; line-height:16px; padding-top:12px; background-repeat:no-repeat; font-family:helvetica, arial, sans-serif; white-space:nowrap; text-decoration:none}
#navPagesTop UL 		{ padding-left:0px; margin:0px; list-style-type:none}
#navPagesTop UL LI 		{ padding-right:0px; padding-left:0px; float:left; padding-bottom:0px; padding-top:0px}
#navPagesTop A:hover 	{ color:#b8b8b8; background-color:#ececec}

#indexDefault           { margin-top:5px; }
#indexDefaultMainContent    { padding-left:0px; margin-top:8px; margin-right:2px; }
#indexDefaultMainContent P  { padding-bottom:10px; margin:0px}

/* --- FOOTER ---------------------- */
#navSuppWrapper         { font-weight:normal; margin:0em; width:100%; height:1%}

/* --- TOP MENU ---------------------- */
#topMenuBar             { background:url(../images/menubg.gif) #fcfcfc repeat-x; margin-bottom:7px; height:41px; }



/* --- MICRO GRID ---------------------- */
INPUT.mgrid_button       { font-size:12px; font-weight:bold; color:#444444; padding:2px 4px 1px 4px; background-color:#e1e2e3;	border-style:solid; border-color:#9b9b9b; border-top-color:#cdcecf; border-left-color:#cdcecf; border-width:1px; cursor:pointer; background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#d7d7d7)); background: -moz-linear-gradient(top, #f7f7f7, #d7d7d7); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f7", endColorstr="#d7d7d7"); }
INPUT.mgrid_button:hover { background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#d2d2d2)); background: -moz-linear-gradient(top, #efefef, #d2d2d2); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef", endColorstr="#d2d2d2"); }

INPUT.mgrid_text  	 	{ color:#222222; }
INPUT.mgrid_checkbox	{ border:0px; }

SELECT.mgrid_select       { border:1px solid #d7d7d7; }
SELECT.mgrid_select:hover { border:1px solid #98bcdf; }
SELECT.mgrid_select:focus { border:1px solid #c7c7e7; background-color:#FFFFf9; }

TEXTAREA.mgrid_textarea   	  { vertical-align:middle; color:#222222; border:1px solid #d7d7d7; }
TEXTAREA.mgrid_textarea:hover { border:1px solid #98bcdf; }
TEXTAREA.mgrid_textarea:focus { border:1px solid #c7c7e7; background-color:#FFFFe7; }

TABLE.mgrid_table 		{ width:100%; font-size:12px; color:#222222; }
TABLE.mgrid_table TR TH,
TABLE.mgrid_table TR TH A { font-size:13px; color:#0082b2; }
TABLE.mgrid_table TR TH.th_sorted A { text-decoration:underline; } 
TABLE.mgrid_table TR TH LABEL { font-size:13px; color:#555555; }
.mgrid_label 	 	 	{}
.mgrid_disabled		 	{ color:#939393; background-color:#f1f2f3; border:1px solid #d7d7d7; }
.mgrid_wrapword         {	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
							white-space: -pre-wrap;      /* Opera 4-6 */
							white-space: -o-pre-wrap;    /* Opera 7 */
							white-space: pre-wrap;       /* css-3 */
							word-wrap: break-word;       /* Internet Explorer 5.5+ */
							word-break: break-all;
							white-space: normal;
						} 


/* --- ROUNDED CORNERS ---------------------- */
FIELDSET, #tabs #container, #tblEditPage TR TD,
.center_box_sub_heading, .center_box_wrapper, .left_box_container{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


/* --- PAGES ---------------------- */
.pages_contents 	{ padding:10px 10px 10px 10px; FONT-SIZE:12px; COLOR:#222222; word-wrap:break-word; width:700px; }

/* --- SEARCH ---------------------- */
.header-search 			{ RIGHT:13px; MARGIN:0px; POSITION:absolute; TOP:2px; }
.header-search INPUT    { BORDER-TOP-WIDTH:0px; BORDER-LEFT-WIDTH:0px; BACKGROUND:none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH:0px; MARGIN:0px; COLOR:#696969; BORDER-RIGHT-WIDTH:0px; }
.header-search FORM 	{ FLOAT:left; }
.header-search INPUT:focus { BACKGROUND:none transparent scroll repeat 0% 0% }

.back 					{ float:left; }
.forward 				{ float:right; }
.bold 					{ font-weight:bold; }
.mandatory_star         { font-weight:bold; color:#a90000; }

.center_column          { PADDING-RIGHT:7px; PADDING-LEFT:7px; PADDING-BOTTOM:0px; PADDING-TOP:0px}
.center_column P        { MARGIN:0px}
.center_box_wrapper 	{ padding-bottom:10px; margin-bottom:10px; height:1%; background-color:#fff; border:#d7d7d7 1px solid; }
.center_box_content 	{ padding:15px; background-color:#fff;  } /*min-width:970px; */

.round_top 				{ background-position:right top; background-image:url(../images/round-top-right.gif); overflow:hidden; background-repeat:no-repeat; height:5px; background-color:#e8e8e8 }
.round_top IMG 			{ display:block }

/* --- LEFT MENU ---------------------- */
.side_box_content       { font-size:0.8em; }
.side_box_content HR    { border-bottom:#fcfcfc 1px solid}
.side_box_content       { padding-left:10px; padding-right:3px; padding-bottom:7px; padding-top:2px}
.side_box_content UL    { padding:0px 0px 0px 2px; list-style-type:square; margin:0px; }
.side_box_content UL LI { padding:1px 0px 2px 0px; margin-left:13px; margin-right:20px; height:15px; }
.side_box_content UL LI A {	padding-left:0px; margin-left:0px; }
.left_box_container     { width:220px; border-right:#d7d7d7 1px solid; border-top:#d7d7d7 1px solid; margin-top:7px; margin-bottom:5px; border-left:#d7d7d7 1px solid; border-bottom:#d7d7d7 1px solid; background-color:#fcfcfc}
.left_box_container A:link    { font-size:12px; color:#0092c2; line-height:18px; text-decoration:none}
.left_box_container A:visited { font-size:12px; color:#0092c2; line-height:18px; text-decoration:none}
.left_box_container A:hover   { color:#c41200}
.left_box_container A.active  { font-weight:bold; }

DIV.menu_category          { font-size:12px; }
DIV.menu_category LABEL    { font-size:12px; margin:0px 3px 0px 0px; }

/* ALERTS & MESSAGES */
.msg { padding: 9px 10px 5px 20px; margin: 15px 15px 5px 15px; } 
.msg p, .blog-content .msg p { margin: 0 !important; }
.default { background: #f4f4f4; color: #1c1c1c; border: 1px solid #dee0e0; }
.default p { color: #1c1c1c; }
.default a { color: #1c1c1c; text-decoration: underline; }
.notice { background: #ffffd5; color: #221f0b; border:1px solid #efefc5; }
.notice p { color: #221f0b; }
.notice a { color: #635a1f; text-decoration: underline; }
.success { background: #dff7ca; color: #4e851b; border:1px solid #cfe7ba; }
.success p { color: #4e851b; }
.success a { color: #64ae23; text-decoration: underline; }
.fail { background: #ffe2e1; color: #c83f39; border:1px solid #efd2d1; }
.fail p { color: #c83f39; }
.fail a { color: #822824; text-decoration: underline; }


.site_version           { float:right; width:120px; text-align:right; }

.nav_language           { float:right;padding:10px;padding-top:50px; }

TR.highlight_light:hover,
TR.highlight_dark:hover { background-color:#e7e7e7; }
TR.highlight_light 		{ background-color:#ffffff; }
TR.highlight_dark  		{ background-color:#f1f5f5; }

/* --- COMMENTS ---------------------- */
#commentsLink					{ margin:10px 0 10px 0; }
#commentsWrapper        		{ width:100%; margin:0 auto; }
#commentsPublished 				{ width:96%; margin-left:15px; }
#commentsPublished .comment 			{ border-bottom:1px solid #cccccc; margin:10px 0px 20px 0px; text-align:left; }
#commentsPublished .comment_user_name 	{ margin:8px 0px 8px 0px; }
#commentsPublished .comment_test 		{ margin:8px 0px 8px 0px; }
#commentsPublished .comment_date 		{ margin:8px 0px 8px 0px; }
#commentsPublished .paging 			{ margin:0px 0px 20px 0px; text-align:left; }
#commentsPublished  A.paging_link 		{ }

/* --- TOP SHOPPING CART --------------- */
#shoppingCartTop 		{ color:#f1f2f3; text-align:right; margin:22px 10px 0px 10px; }
#shoppingCartTop TABLE  { color:#f1f2f3; border:0px; }
#shoppingCartTop TABLE TR TD { padding:2px; }
#shoppingCartTop TABLE IMG { border:0px; margin:0px; }
.shopping_cart_th { font-weight:bold;font-size:13px; border-top:#dddddd 1px solid; border-bottom:#dddddd 1px solid; background-color:#f5f8f8; }

.help { cursor:help; }

.left { list-style-image:url(../images/point.gif); text-align:left; }
.right { list-style-image:url(../images/point_rtl.gif); text-align:right;  }

.align_left  { text-align:left; }
.align_right { text-align:right; }

.float_left  { float:left; left:0px; }
.float_right { float:right; right:0px; }

/* --- VOCABULARY --------------- */
.voc_row_edit_left   { background-color:#fbfbee; border:0px; border-left:1px solid #d1d14a; border-top:1px solid #d1d14a; border-bottom:1px solid #d1d14a; }
.voc_row_edit_middle { background-color:#fbfbee; border:0px; border-top:1px solid #d1d14a; border-bottom:1px solid #d1d14a; }
.voc_row_edit_right  { background-color:#fbfbee; border:0px; border-right:1px solid #d1d14a; border-top:1px solid #d1d14a; border-bottom:1px solid #d1d14a; }

.voc_row_update_left   { background-color:#eefbee; border:0px; border-left:1px solid #57dd57; border-top:1px solid #57dd57; border-bottom:1px solid #57dd57; }
.voc_row_update_middle { background-color:#eefbee; border:0px; border-top:1px solid #57dd57; border-bottom:1px solid #57dd57; }
.voc_row_update_right  { background-color:#eefbee; border:0px; border-right:1px solid #57dd57; border-top:1px solid #57dd57; border-bottom:1px solid #57dd57; }

.tabs_table 		{ margin-left:5px; width:97%; }
.code 				{ background-color:#f1f2f3;}
.loading_img 		{ position:absolute; top: 20px; display:none; }

/* --- CHECK AVAILABILITY ------------------------------------------------------- */
INPUT.button             { font-size:12px; font-weight:bold; color:#444444; padding-left:2px; padding-right:2px; padding-bottom:1px; background-color:#e1e2e3; border-style:solid; border-color:#8b8b8b; border-top-color:#cdcecf; border-left-color:#cdcecf; border-width:1px; cursor:pointer; }

/* RESERVATION TABS */
.reservation_tabs         { font-size:14px; margin-bottom:20px; width:97%; }
.reservation_tab          { font-size:14px; font-weight:bold; text-align:center; width:25%; height: 30px; border:1px solid #6699CC; color:#c1c2c3; }
.reservation_tab A        { color:#c1c2c3; }         
.reservation_tab_active   { font-size:14px; font-weight:bold; text-align:center; width:25%; height: 30px; border:1px solid #6699CC; color:#6699cc; background-color:#EBF3FB; }

/* --- ROOM DESCRIPTION --------------- */
TABLE.room_description      { margin:5px 10px 5px 10px; width:700px; }
TABLE.room_prices           { border:1px solid #6699CC; width:690px; }
TABLE.room_prices TR.header { background-color:#EBF3FB;font-weight:bold;font-size:13px;text-align:center; }
TABLE.room_prices TR.header TH { border-bottom:1px solid #6699CC; }
IMG.room_icon 				{ border:5px solid #6699CC; margin-bottom:5px; }

/* --- ROOM AVAILABILITY --------------- */
INPUT.day_a                 { width:23px; height:19px; font-size:12px; padding:1px 1px 1px 1px; text-align:center; }
INPUT.dc_all, DIV.dc_all    { border:1px solid #a6e8a6; background-color:#bbffbb; margin:0px; margin-right:1px;}
INPUT.dc_part, DIV.dc_part  { border:1px solid #d8d863; background-color:#efef76; margin:0px; margin-right:1px;}
INPUT.dc_none, DIV.dc_none  { border:1px solid #df6666; background-color:#ef7676; margin:0px; margin-right:1px;}

TR.m_even                   { background-color:#f2f3f4; }
TR.m_even TD.day_td_w       { background-color:#ffbb55; padding:0px; }
TR.m_even TD.day_td_e       { background-color:#f0f0f0; padding:0px; } 
TR.m_even TD.day_td         { background-color:#f2f3f4; padding:0px; border:0px solid #cccccc; }

TR.m_odd                    { background-color:#ffffff; }
TR.m_odd TD.day_td_w        { background-color:#ffbb55; padding:0px; }
TR.m_odd TD.day_td_e        { background-color:#f0f0f0; padding:0px; } 
TR.m_odd TD.day_td          { background-color:#ffffff; padding:0px; border:0px solid #cccccc; }

TR.m_current                { background-color:#ffdf7f; }
TR.m_current TD.day_td_w    { background-color:#ffbb55; padding:0px; }
TR.m_current TD.day_td_e    { background-color:#f0f0f0; padding:0px; } 
TR.m_current TD.day_td      { background-color:#ffdf7f; padding:0px; border:0px solid #cccccc; }

TD.day_td_w       			{ background-color:#ffbb55; padding:0px; }
LABEL.l_day                 { font-size:9px;line-height:10px; color:#555555; } 

/* RESERVATION CART */
TABLE.reservation_cart           { border:0px; width:97%; }
TABLE.reservation_cart TR.header { background-color:#EBF3FB; font-weight:bold;font-size:13px; }
TABLE.reservation_cart TR.header TH { font-weight:bold;border-bottom:1px solid #6699CC; border-top:1px solid #6699CC; }
TABLE.reservation_cart TR.header TH.left { border-left:1px solid #6699CC; }
TABLE.reservation_cart TR.header TH.right { border-right:1px solid #6699CC; padding-right:4px; }

TABLE.reservation_cart TR.footer {  }
TABLE.reservation_cart TR.footer TD.td { font-weight:bold;border-bottom:1px solid #6699CC; border-top:1px solid #6699CC; }
TABLE.reservation_cart TR.footer TD.left { background-color:#EBF3FB; border-left:1px solid #6699CC; padding-left:4px; }
TABLE.reservation_cart TR.footer TD.right { background-color:#EBF3FB; border-right:1px solid #6699CC; padding-right:4px; }
TABLE.reservation_cart #pre_payment_fully { border:0px; }
TABLE.reservation_cart #pre_payment_partially { border:0px; }
TABLE.reservation_cart #discount_coupon { width:170px; }

.line-hor                 { background:#cbd3db; height:1px; overflow:hidden; font-size:0; line-height:0; margin:21px 0 16px 0;}
.line-ver                 { background-image:url(../images/line-ver.gif); background-repeat:repeat-y; width:100%;}

/* --- COMMENTS ------------------------------------------------------------- */
.comments_form_container  { width:100%;margin-left:0px;margin-top:10px;}
.comments-form            { font-size:12px; margin-bottom:15px; }
.comments-form input[type=text],
.comments-form input[type=password]
                          { padding:2px; }
.comments-form textarea   { padding:2px; width:370px; height:87px; }
DIV.comment               { margin:3px 0px 10px 0px; }

.align_left   { text-align:left; }
.align_right  { text-align:right; }

/* --- CAPTCHA --------------- */
#captcha_image 		 	{ padding:0px; margin:0px;border:1px solid #e4e8eb }

/* --- CALENDAR --------------- */
.calendar_icon          { cursor:pointer; }

/* --- CHECKOUT ------------------------------------------------------------- */
#checkout-form select.extras_ddl { width:40px; }

/* --- Reservation Details ---------------------- */
TABLE.tblReservationDetails { border:1px solid #d1d2d3 }
TABLE.tblReservationDetails THEAD TR { background-color:#e1e2e3;font-weight:bold;font-size:13px; }
TABLE.tblReservationDetails TR TD SPAN { background-color:#e1e2e3; }

/* --- Extras Details ---------------------- */
TABLE.tblExtrasDetails { border:1px solid #d1d2d3 }
TABLE.tblExtrasDetails THEAD TR { background-color:#e1e2e3;font-weight:bold;font-size:13px; }
TABLE.tblExtrasDetails TR TD SPAN { background-color:#e1e2e3; }

/* --- SEARCH AVAILABILITY PAGE ------ */
.tbl_hotel_description { }
.tbl_hotel_description img.hotel_icon { border:1px solid #ccc;width:120px;height:110px;margin:0 5px; }
.tbl_hotel_description DIV.hotel_name { margin-bottom:4px; }
.tbl_hotel_description DIV.hotel_location { margin-bottom:3px; }
.tbl_hotel_description DIV.hotel_description { }

/* --- HOME PAGE ALERT --------------- */
#divAlertRequired { padding:10px 27px; float:right; }

#divAlertMessages { padding:5px 5px 5px 0px; }
#divAlertMessages UL { padding-left:30px;margin-top:7px;margin-bottom:7px; }
#divAlertMessages UL LI { argin-bottom:2px; }

#divWelcomeMessages { line-height:18px; }
#divWelcomeMessages UL { padding-left:20px; }
#divWelcomeMessages UL LI { margin-bottom:4px; }
#divWelcomeMessages .site_version { float:right; width:120px; text-align:right; }

/* --- LOGIN PAGE */
h1.login a { background-image: url(../../../images/icons/apphp_logo.png); background-image: none,url(../../../images/icons/apphp_logo.png); background-size: 80px 40px; background-position: center top; background-repeat: no-repeat; color: #999; width: 80px; height: 40px; font-size: 20px; font-weight: 400; line-height: 1.3em; margin: -40px 10px 0 0; padding: 0; text-decoration: none; text-indent: -9999px; outline: 0; overflow: hidden; display: block; float: right; }

/* --- Dashboard */
.tbl-dashboard-checkin { border:0px; border-collapse: collapse; }
.tbl-dashboard-checkin caption { text-align:left; font-weight:bold; font-size:13px; margin-bottom:5px; }
.tbl-dashboard-checkin thead tr { background-color:#ebebb8; border:1px solid #efefef;}
.tbl-dashboard-checkin thead tr th { padding:5px; border:0px;  }
.tbl-dashboard-checkin tbody tr td { padding:5px; border:0px; }
