/*-----------------------------------------------------------------------------

REVOLUTION RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	26/06/12
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


/**********************
	-	RESET	-
************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;
}


/***********************
	-	BASICS 	-
***********************/
html {
	overflow-x:hidden;
	padding: 0 !important;
	background-image:url(../images/tiles/bgtile.jpg);
	margin:0px !important;
}




  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-
  **********************************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/

  .bannercontainer {
		padding:5px;
		background-color:#fff;
		width:890px;
		position:relative;
		position:relative;
		margin-left:auto;
		margin-right:auto;

	}

  .banner{
		width:890px;
		height:490px;
		position:relative;
		overflow:hidden;
   }


  .bannercontainer2 {
		padding:0px;
		background-color:#3e5da2;
		width:400px;
		position:relative;
		position:relative;
		margin-left:auto;
		margin-right:auto;

	}

  .banner2{
		width:400px;
		height:300px;
		position:relative;
		overflow:hidden;
   }

